.UserDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  align-items: center;  /*   縦方向の中央 */
  margin: 55px;
  height: 50px;
}

.username{
  text-align: center;
  padding: 10px;
  width: 25%;
  font-size: 23px;
}

.PassDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  align-items: center;     /* 縦方向の中央 */
  margin: 55px;
  height: 50px;
}

.password{
  text-align: center;
  padding: 10px;
  width: 25%;
  font-size: 23px;
}
