.UserDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  align-items: middle;  /*   縦方向の中央 */
  height: 50px;
}

.username{
  padding: 12px;
  width: 25%;
  font-size: 18px;
}

.PassDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  align-items: middle;     /* 縦方向の中央 */
  height: 50px;
}

.password{
  padding: 12px;
  width: 25%;
  font-size: 18px;
}
