.UserDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  /* align-items: center;  /*   縦方向の中央 */
  height: 300px;
}

.username{
  padding: 12px;
  width: 35%;
  font-size: 25px;
}

.PassDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  /* align-items: center;     /* 縦方向の中央 */
  height: 400px;
}

.password{
  padding: 12px;
  width: 35%;
  font-size: 25px;
}
