.UserDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  align-items: center;  /*   縦方向の中央 */
  margin: 70px;
  height: 50px;
}

.username{
  padding: 12px;
  width: 25%;
  font-size: 23px;
}

.PassDiv{
  display: flex;
  justify-content: center; /* 横方向の中央 */
  align-items: center;     /* 縦方向の中央 */
  margin: 70px;
  height: 50px;
}

.password{
  padding: 12px;
  width: 25%;
  font-size: 23px;
}
